<p id="notice"><%= notice %></p>

<h1>Listing Replies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Replies</th>
      <th>User</th>
      <th>Posted on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.content %></td>
        <td><%= reply.user.email %></td>
        <td><%= time_tag reply.post.created_at %></td>
        <td><%= link_to 'Show', post_replies_path(reply) %></td>
        <td><%= link_to 'Edit', edit_post_reply_path(reply.post, reply) %></td>
        <td><%= link_to 'Destroy', post_reply_path(reply.post, reply), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_post_reply_path, :class => "btn btn-primary" %>
