<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1> <%= @post.title %> </h1>
  </div>
  <div class="panel-body">
    <h3> posted by: <%= @post.user.email %> </h3>
    <h3> on: <%= time_tag @post.created_at %> </h3>
    <h3> <%= @post.content %> </h3>
  </div>
</div>

  <ul class="list-group">
    <% @post.replies.each do |reply| %>
      <li class="list-group-item">
        <%= reply.content %>
        <br>
        <%= reply.user.email %> on <%= time_tag reply.post.created_at %>
      </li>
    <% end %>
  </ul>
<%= link_to 'Reply', new_post_reply_path(@post) , :class => "btn btn-info"%>

<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
