<p id="notice"><%= notice %></p>

<p>
<h2>
<%= @post.title %>
</h2>
</p>

<p>
  <span>posted by:</span> <%= @post.user.email %>
  <br>
  <span>on:</span> <%= time_tag @post.created_at %>
</p>
<br>
<p>
  <%= @post.content %>
</p>

<%= button_to 'Reply', new_reply_path %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
