<!DOCTYPE html>
<html>
<head>
  <title>SorceryCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Login with Google', auth_at_provider_path(:provider => :google) %>

<%= yield %>

</body>
</html>
