<h4 class="column">Featured Movies</h4>
<div class="column">
  <ul class="movies-grid no-bullet row">
    <% @movies.each do |movie| %>
      <li class="large-3 medium-4 small-12 column">
    <div class="movie-card padly">
      <%= link_to movie, class: "poster" do %>
        <%= image_tag movie.poster %>
    <% end %>
      <div class="movie-info ell glassy-bg padmy padlx">
        <div class="title">
          <h6><%= movie.title %> <span>(<%= movie.release_year %>)</span></h6>
        </div>
        <p class="left price label movie-label radius">$ <%= movie.price %></p>
        <%= link_to movie.imdb, class: "right" do %>
          <%= image_tag asset_path("imdb_logo.png") %>
      <% end %>
      </div>
    </div>
    </li>
  <% end %>
  </ul>
</div>

<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :title_cont, class: "radius-left expand", placeholder: "Movie title" %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %>
<% end %>
